{% extends 'links.html' %}

{% block content %}

<body>
    <div class="main">
        <form method="POST">
            {% csrf_token %}
            <div class="alert alert-danger" role="alert">
                Estas Seguro que quieres eliminar estos datos ?
            </div>

            <input style="margin-top: 10px; margin-left: 15px;" class="btn btn-danger" type="submit" value="Si">
            <a style="margin-top: 10px; margin-left: 15px;" class="btn btn-warning" href="/registro/">Cancelar</a>
        </form>
    </div>
</body>
{% endblock %}