{% extends 'barra.html' %}

{% block content %}
<!--------------------------------------------------- Container --------------------------------------------------->
<div class="container_f">
    <div class="form__top">
        <h2>Formulario <span> Editor</span></h2>
        <form action="" method="POST" class="form__reg">
            {% csrf_token %}
            <label class="input" type="text">{{ form.Nombre }}</label>
            <label class="input" type="text">{{ form.Apellido }}</label>
            <label class="input" type="text">{{ form.Cedula }}</label>
            <label class="input" type="text">{{ form.Direccion }}</label>
            <label class="input" type="text">{{ form.Colegio_Electoral }}</label>
            <select class="input" type="text" {{ form.CentroDeVotacion }}>
                <option value="Escula Primaria A">Escula Primaria A</option>
                <option value="Escuela primaria B">Escuela primaria B</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
            <select class="input" type="text" {{ form.Sexo }}>
                <option value="FEMENINO">FEMENINO</option>
                <option value="MASCULINO">MASCULINO</option>
            </select>
            <label class="input" type="text">{{ form.Telefono }}</label>
            <label class="input" type="text">{{ form.Email }}</label>
            <label class="input" type="text">{{ form.Edad }}</label>
            <select class="input" type="text" {{ form.Sector }}>
                <option value="Los Tomates">Los Tomates</option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>

            <input style="border-radius: 15px;" class="btn btn-success" type="submit" value="update">


        </form>

    </div>
    <!--------------------------------------------------- END Container --------------------------------------------------->
    </body>
    {% endblock %}