* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.container_f {
  width: 60%;
  max-width: 1000px;
  background-color: #007bff;
  margin: 4% auto;
  border-radius: 50px;
  text-decoration: none;
}

.form__top {
  width: 100%;
  text-align: center;
  padding: 2rem 0 1rem;
  border-top: solid 0.4rem #f6de51;
  margin-bottom: 1rem;
  border-radius: 50px;
}

.form__top h2 {
  font-weight: bold;
  color: #ffffff;
  font-size: 18px;
}

h2 span {
  color: #ffffff;
}

.form__reg {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.btn__form {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.input,
.btn__submit,
.btn__reset {
  background-color: #ffffff;
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: none;
  border-bottom: solid #ffffff 0.2rem;
  transition: all 0.5%;
  border-radius: 50px;
}

.input:focus {
  border-bottom: solid #ffffff 0.2rem;
}

.btn__submit,
.btn__reset {
  width: 25%;
  border-bottom: none;
  background-color: #e5d680;
  color: rgb(0, 0, 0);
}

.btn__reset {
  background-color: #e5d680;
}

.btn__submit:hover {
  background-color: #e4e297;
}

.btn__reset:hover {
  background-color: #e4e297;
}
